# Node.js
node_modules/

# Logs
npm-debug.log
yarn-error.log

# React Native
android/build/
ios/build/
android/app/build/
*.log
*.iml
/ios/Pods/
/ios/Podfile.lock
/ios/Pods/Manifest.lock
AppNews/android/app/build
AppNews/android/.gradle


# Gradle
/android/.gradle/

# macOS
.DS_Store

# VSCode
.vscode/

.gitIgnore
AppNews/android/.gradle/file-system.probe
AppNews/android/.gradle/8.3/dependencies-accessors/dependencies-accessors.lock
AppNews/android/.gradle/8.3/executionHistory/executionHistory.bin
AppNews/android/.gradle/8.3/executionHistory/executionHistory.lock
AppNews/android/.gradle/8.3/fileHashes/fileHashes.bin
AppNews/android/.gradle/8.3/fileHashes/fileHashes.lock
AppNews/android/.gradle/buildOutputCleanup/buildOutputCleanup.lock
AppNews/android/.gradle/buildOutputCleanup/outputFiles.bin
AppNews/android/.gradle/buildOutputCleanup/outputFiles.bin
